In [1]:
def my_func():
    print('hello')

In [2]:
my_func()

hello

In [6]:
def my_func(name):
    print('Hello, '+name)

my_func('Jose')

Hello, Jose

In [7]:
def my_func(name= 'NO NAME'):
    print('Hello, '+name)


my_func()

Hello, NO NAME

In [8]:
def my_func(name='NO NAME'):
    '''This print out the user name!'''
    print('Hello, '+name)


my_func()

Hello, NO NAME

In [17]:
def square(x):
    return x ** 2

In [18]:
result = square(2)

In [19]:
result

4

In [20]:
type(result)

int

In [12]:
def square(x):
    print(x ** 2)

In [13]:
result = square(2)

4

In [14]:
result

In [15]:
type(result)

NoneType

In [21]:
def times_two(var):
    return var * 2

In [22]:
times_two(10)

20

In [62]:
lambda var: var * 2

In [60]:
var = lambda var: var * 2

In [61]:
print(var(2))

4

In [24]:
st = 'Hello, my name is Sam'

In [25]:
st.lower()

'hello, my name is sam'

In [26]:
st.upper()

'HELLO, MY NAME IS SAM'

In [27]:
st.split()

['Hello,', 'my', 'name', 'is', 'Sam']

In [28]:
tweet = 'Hello #sports'

In [29]:
tweet.split('#')

['Hello ', 'sports']

In [30]:
tweet.split('#')[1]

'sports'

In [31]:
d = {
    'k1': 'v1',
    'k2': 'v2'
}

In [32]:
d.keys()

dict_keys(['k1', 'k2'])

In [33]:
d.items()

dict_items([('k1', 'v1'), ('k2', 'v2')])

In [45]:
mylist = [1, 2, 3]

In [46]:
last = mylist.pop()

In [47]:
mylist

[1, 2]

In [48]:
last

3

In [49]:
mylist = [1, 2, 3]

In [50]:
mylist

[1, 2, 3]

In [51]:
first = mylist.pop(0)

In [52]:
mylist

[2, 3]

In [53]:
first

1

In [54]:
'x' in [1, 2, 3]

False

In [55]:
1 in [1, 2, 3]

True

In [56]:
2 in mylist

True

In [57]:
mylist

[2, 3]